/* Write your CSS here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.project-image {
  width: 450px;
  height: 300px;
  margin-bottom: 20px;
}

.project-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #0967d2;
}
